Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
l1 = [4,8,15,16,23,42]

In [8]:
s1 = pd.Series(l1)

In [9]:
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
type(s1)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [16]:
l2 = list(range(10))

In [18]:
l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
s2 = pd.Series(l2)

In [20]:
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire
Age
25
30
27
Gender
Female
Male
Femal
Then, print the DataFrame.

In [21]:
dict = {'Name':['Alice', 'Bob', 'Claire'],
        'Age' :[25,30,27],
        'Gender':['Female','Male','Female']
       }

In [23]:
d1 = pd.DataFrame(dict)

In [24]:
d1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans :- Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

1.Firstly, the DataFrame can contain data that is:
a Pandas DataFrame
a Pandas Series: a one-dimensional labeled array capable of holding any data type with axis labels or index. An example of a Series object is one column from a DataFrame.
a NumPy ndarray, which can be a record or structured
a two-dimensional ndarray
dictionaries of one-dimensional ndarray’s, lists, dictionaries or Series.
Note the difference between np.ndarray and np.array() . The former is an actual data type, while the latter is a function to make arrays from other data structures.

Structured arrays allow users to manipulate the data by named fields: in the example below, a structured array of three tuples is created. The first element of each tuple will be called foo and will be of type int, while the second element will be named bar and will be a float.

Record arrays, on the other hand, expand the properties of structured arrays. They allow users to access fields of structured arrays by attribute rather than by index.

2.Besides data, you can also specify the index and column names for your DataFrame. The index, on the one hand, indicates the difference in rows, while the column names indicate the difference in columns.

Difference Between Pandas Series and  DataFrame : -
Although a Pandas Series and a  DataFrame have many similarities, there are some key differences between the two data structures.

Dimensions
The dimensions of the data are where a Pandas Series and a DataFrame most obviously diverge. A Series only has one data column, whereas a DataFrame contains both a data column and an index. The labels for the data are contained in the index, which is a second column.

Functionality
There are certain distinctions in the extra features that a Series and a  DataFrame offer, despite the fact that they share many common functionalities. Additional features like filtering, merging, and joining is accessible in a DataFrame but not in a Series.

Data Alignment
Based on the index labels, a Pandas Series can be aligned with another Series or DataFrame. Even if the index labels are ordered differently, the alignment makes sure the data is correctly matched. Data alignment is also supported in a  DataFrame, but it is determined by the column label.

Performance
For actions that only involve one column of data, a Series performs more quickly than a DataFrame. This is so because a Series has a more straightforward structure than a DataFrame with a column.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

Some common functions which are used to manipulate data in a  Pandas Dataframe are:-

1. Unique and nunique
Unique function in pandas returns a list of the unique elements based on the appearance. This function is faster than NumPy’s unique and it also includes NA values. This is particularly useful to check the different values in a categorical field.

data['Embarked'].unique()
Output: array([‘S’, ‘C’, ‘Q’, nan], dtype=object)

Nunique function on the other hand counts the distinct values of columns. NaN values can be ignored. This shows only the number of different categories present in a column of a dataframe.

data['Embarked'].nunique()
Output : 3

 

2. Describe
This function shows descriptive statistics like mean, standard deviation, maximum, minimum, and other central tendencies and the shape of the distribution. This excludes NaN values from the summary. This is useful to get an idea about the distribution of data fields and outliers if any. The percentile of the output can be customized by mentioning the percentiles range in the function parameter.

data.describe()
Output:

manipulate pandas dataframe describe
 

3. Sort_values
This function changes the order of the values in a column by sorting it. So, we can use this to show the dataframe as per our need by sorting ascending or descending order.

 

We can set the “ascending” parameter true or false, which is by default true. We can also change sorting by index or by column by setting the parameter “axis” 0 or 1. We can also sort for multiple columns by mentioning them within a list (e.g. data.sort_values(by=[‘Age’,’Pclass’, ascending=[False,True]).

data.sort_values(by='Age', ascending=False)
Output:

manipulate pandas dataframe sort
 

4. Value_counts
This function returns the value of the count for every unique item present in the column. The values are showing in descending order so that the most frequent element comes first. This excludes the null values. Here we will see the number of males and females onboard in different classes by calling the value_counts() function in the following way.

data[['Pclass','Sex']].value_counts()
Output:

manipulate pandas dataframe value counts
 

5. Isnull 
This function finds if there are any missing values present in an array-like object. This function returns boolean values after checking for missing values. We are creating a list with one null value and when it is passed through the isnull() function, it gives output with a boolean list.

manipulate pandas dataframe isnull
This can also come in handy when we check for missing values in a large dataframe. We can compute the total number of missing values of a column by adding sum() function at the end of isnull() function. Here we are taking our dataset and check for each column if there is any missing value and show the same.

#taking each column out of dataframe

for col in data.columns: 

    #checking if there is any null in the column

    if data[col].isnull().sum()>0: 

        # if null present, total number of null in the column stores here

        total_null = data[col].isnull().sum() 

        print('Column {} has total null {}, i.e. {} %'.format(col,total_null,round(total_null*100/len(data),2))) #output
Output:

isnull result
 

6. Fillna
This function is used to fill missing values based on the specified method. Fillna takes parameters such as value (a value which is used to fill the missing value) and method (such as bfill, ffill, etc).  In our example dataset, the field “Age” has a total of 177 missing values. Let’s fill it with the median of  “Age” using fillna() function.

data['Age'].fillna(value=data['Age'].median(),inplace=True)
data['Age'].isnull().sum()
Output:

0

The parameter “value” of fillna() can also be obtained from other complex groupby or dataframe or dictionary.

 

7. Groupby 
Pandas groupby() function is used to split the data and apply some function to it and at the end combine the result to another object. often we need to split the data and apply some aggregation (e.g. sum, mean, count, etc) to it or transform it (e.g. for filling missing values or standardize data), groupby function comes helpful in these situations.

#we want to see for each gender maximum, minimum, average and median of age field
data.groupby(['Sex'])['Age'].agg(['max','min','mean','median'])
Output:

Groupby
 

8. Map 
Map function in pandas is used to map series and replace values of one series with another value associated with a dictionary, a series, or a function. This function is often used for substituting values of a column of a dataframe or a series, but the values of the caller map function and the values of the column passed as series must be the same.


 9. Apply
Pandas apply function certainly one of the most useful functions among all. We can pass a function inside apply and it’ll apply on the entire dataframe or a particular series as per need. It helps to modify the data according to the condition in a much flexible manner.

10. Pivot
The pivot function reshapes the dataframe by index or column values. This function is basically similar to the pivot table. It uses the unique value of a column to form an index of a dataframe. Unlike the groupby function, pivot doesn’t support data aggregation.

In [30]:
d1.isnull()

    Name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False

In [31]:
g1 = d1.groupby('Age')

In [32]:
g1

In [35]:
g1.mean()

/tmp/ipykernel_154/3287460031.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.mean()

Empty DataFrame
Columns: []
Index: [25, 27, 30]

In [34]:
d1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:-Pandas deals with the following three data structures −

Series
DataFrame
Panel
These data structures are built on top of Numpy array, which means they are fast.

Dimension & Description
The best way to think of these data structures is that the higher dimensional data structure is a container of its lower dimensional data structure. For example, DataFrame is a container of Series, Panel is a container of DataFrame.

Data Structure	Dimensions	Description
Series	1	1D labeled homogeneous array, sizeimmutable.
Data Frames	2	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
Panel	3	General 3D labeled, size-mutable array.
Building and handling two or more dimensional arrays is a tedious task, burden is placed on the user to consider the orientation of the data set when writing functions. But using Pandas data structures, the mental effort of the user is reduced.

For example, with tabular data (DataFrame) it is more semantically helpful to think of the index (the rows) and the columns rather than axis 0 and axis 1.

Mutability
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Series :-
Series is a one-dimensional array like structure with homogeneous data. For example, the following series is a collection of integers 10, 23, 56, …

10	23	56	17	52	61	73	90	26	72
Key Points
Homogeneous data
Size Immutable
Values of Data Mutable

DataFrame :-
DataFrame is a two-dimensional array with heterogeneous data.
Key Points
Heterogeneous data
Size Mutable
Data Mutable

Panel :-
Panel is a three-dimensional data structure with heterogeneous data. It is hard to represent the panel in graphical representation. But a panel can be illustrated as a container of DataFrame.

Key Points
Heterogeneous data
Size Mutable
Data Mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [36]:
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [37]:
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [42]:
df1 = pd.concat([s1,s2],axis=1)

In [43]:
df1

      0  1
0   4.0  0
1   8.0  1
2  15.0  2
3  16.0  3
4  23.0  4
5  42.0  5
6   NaN  6
7   NaN  7
8   NaN  8
9   NaN  9

In [44]:
type(df1)

pandas.core.frame.DataFrame